include ../common/mixins

section.footer
  .footer__top_content
    ul.footer__menu
      li.footer__item 
        a.footer__menu-href(href="/my-works.html") Мои работы
      li.footer__item 
        a.footer__menu-href(href="/about.html") Обо мне
      li.footer__item
        a.footer__menu-href(href="/blog.html") Блог
      li.footer__item
        a.footer__menu-href(href="/index.html") Авторизация
    ul.footer__socials
      li.footer__social-item
        a.footer-social(href="")
          +icon('vk_round', 'footer_mod')
      li.footer__social-item
        a.footer-social(href="")
          +icon('github_round', 'footer_mod')
      li.footer__social-item
        a.footer-social(href="")
          +icon('in_round', 'footer_mod')
  .footer__bot_content
    .left__text
      p.bottom__descr Я веб разработчик из Санкт-Петербурга, и этот сайт я сделал в рамках обучения в Школе онлайн образования LoftSchool
    .right__text
      p.bottom__descr © Александр Швалев | создано с любовью в LoftSchool 2018
