section.footer
  .footer__top_content
    ul.footer__menu
      li.footer__item Мои работы
      li.footer__item Обо мне
      li.footer__item Блог
      li.footer__item Авторизация
    ul.footer__socials
      li.footer__social-item
        a.footer-social(href="")
          img.footer-social-img(src="")
      li.footer__social-item
        a.footer-social(href="")
          img.footer-social-img(src="")
      li.footer__social-item
        a.footer-social(href="")
          img.footer-social-img(src="")
  .footer__bot_content
    .right__text
      p.bottom__descr Я разработчик из СПб... ля-ля-ля
    .left__text
      p.bottom__descr Александр Швалев | создано с любовью в LoftSchool 2018
