section.footer
  .footer__top_content
    ul.footer__menu
      li.footer__item 
        a.footer__menu(href="/my-works.html") Мои работы
      li.footer__item 
        a.footer__menu(href="/about.html") Обо мне
      li.footer__item
        a.footer__menu(href="/blog.html") Блог
      li.footer__item
        a.footer__menu(href="/index.html") Авторизация
    ul.footer__socials
      li.footer__social-item
        a.footer-social(href="")
          img.footer-social-img(src="")
      li.footer__social-item
        a.footer-social(href="")
          img.footer-social-img(src="")
      li.footer__social-item
        a.footer-social(href="")
          img.footer-social-img(src="")
  .footer__bot_content
    .right__text
      p.bottom__descr Я разработчик из СПб... ля-ля-ля
    .left__text
      p.bottom__descr Александр Швалев | создано с любовью в LoftSchool 2018
