include ../common/mixins

section.section.hero
  .hero__top
    .hero__socials
      ul.socials__header
        each item in ['vk', 'github', 'in']
          li.socials__item
            a(href="" class = 'href__socials')
              +icon(`${item}`, "white_mod")
    .hero__hamburger
      ul.hamburger
        li.hamburger__item
        li.hamburger__item
        li.hamburger__item
  .hero__description-menu
      .hero__img
        img.avatar(src = "assets/images/im/avatar.jpg")
      .hero__descr
        .hero__name-menu Александр Швалев
        .hero__text-menu Личный сайт веб разработчика
