extends ../template
include ../common/mixins
include ../common/menu

block content
  +header('#EEEBDF', '#EFEEE9', 'about__header-footer')
  section.about
    .about__content
      .about__life
        .about__life-title
          h1.about__title.animated__title.animated__big обо мне
        .about__descr
          .about__avatar
            img.avatar__about(src="assets/images/im/avatar.jpg")
          .about__description
            h2.about__descr__title.animated__title.about__animated кто я
            p.about__text Душа моя озарена неземной радостью, как эти чудесные весенние утра, которыми я наслаждаюсь от всего сердца. Я совсем один и блаженствую в здешнем краю, словно созданном для таких, как я. Я так счастлив, мой друг, так упоен ощущением покоя.
            p.about__text.descr__end Душа моя озарена неземной радостью, как эти чудесные весенние утра, которыми я наслаждаюсь от всего сердца
      .about__skills
        h2.skills__title.animated__title.about__animated Чем я могу быть<br>вам полезен
        p.skills__descr Больше всего меня привлекет Frontend разработка, но я также знаком и могу решать не сложные задачи на Backend. Но давайте по порядку.
        ul.skills__list
          li.skills__item Frontend
            ul.skills__item__list.front
              li.item__list-item 
                +skill('html5', 90)
              li.item__list-item
                +skill('css3', 90)
              li.item__list-item 
                +skill('js', 30)
          li.skills__item Backend
            ul.skills__item__list.back
              li.item__list-item 
                +skill('php', 10)
              li.item__list-item 
                +skill('mySQL', 10)
              li.item__list-item 
                +skill('Node.js & npm', 30)
              li.item__list-item 
                +skill('MongoDB', 10)
          li.skills__item WorkFlow
            ul.skills__item__list.ws
              li.item__list-item 
                +skill('git', 70)
              li.item__list-item 
                +skill('gulp', 50)
              li.item__list-item 
                +skill('bower', 10)
    section.about__map
      .contacts
        h2.contacts__title.animated__title Контакты
        ul.contacts__list
          li.contacts__item
            a.contacts__href
              +icon('skype', 'icon_mod') 
              p.contacts__name skype
          li.contacts__item
            a.contacts__href
              +icon('envelope', 'icon_mod') 
              p.contacts__name email
          li.contacts__item
            a.contacts__href
              +icon('phone', 'icon_mod') 
              p.contacts__name phone
          li.contacts__item
            a.contacts__href
              +icon('map_marker', 'icon_mod') 
              p.contacts__name place

    include ../common/footer.pug      
