extends ../template

block content
  include ../common/menu
  section.about
    .about__life
      h1.about__title обо мне
      .about__descr
        .about__avatar
          img.avatar__about(src="assets/images/im/avatar.jpg")
        .about__description
          h2.about__descr__title кто я
          p.about__text Душа моя озарена неземной радостью, как эти чудесные весенние утра, которыми я наслаждаюсь от всего сердца. Я совсем один и блаженствую в здешнем краю, словно созданном для таких, как я. Я так счастлив, мой друг, так упоен ощущением покоя.
          p.about__text.descr__end Душа моя озарена неземной радостью, как эти чудесные весенние утра, которыми я наслаждаюсь от всего сердца
    .about__skills
      h2.skills__title Чем я могу быть<br>вам полезен
      p.skills__descr
      ul.skills__list
        li.skills__item Frontend
          ul.skills__item__list
            li.item__list-item html
            li.item__list-item css
            li.item__list-item js
        li.skills__item Backend
          ul.skills__item__list
            li.item__list-item php
            li.item__list-item mySQL
            li.item__list-item node
            li.item__list-item mongo DB
        li.skills__item WorkFlow
          ul.skills__item__list
            li.item__list-item git
            li.item__list-item gulp
            li.item__list-item bower
  section.about__map
    .contacts
      ul.contacts__list
        li.contacts__item
          a.contacts__href
            img.contacts__img(src="") 
            p.contacts__name skype
        li.contacts__item
          a.contacts__href
            img.contacts__img(src="")
            p.contacts__name email
        li.contacts__item
          a.contacts__href
            img.contacts__img(src="")
            p.contacts__name phone
        li.contacts__item
          a.contacts__href
            img.contacts__img(src="")
            p.contacts__name place
  include ../common/footer.pug      
        
