extends ../template

block variables
    - var title = 'Добро пожаловать'

block content
  section.welcome__section
    include ./welcome
    form.auth__welcome
        label(for="email") email
        input(name="email" id="email")
        label(for="password") password
        input(name="password" id="password")
        button Войти
      
