extends ../template

include ../common/mixins

block content
  section.welcome__section
    a.hero__auth(href="") Авторизация
    .hero__description
      .hero__presentation
        .hero__img
          img.avatar(src = "assets/images/im/avatar.jpg")
        .hero__descr
          .hero__name.welcome Александр Швалев
          .hero__text.welcome Личный сайт веб разработчика
        ul.socials.description__socials
          each item in ['vk', 'github', 'in']
            li.socials__item
              a(href="" class = 'href__socials')
                +icon(`${item}`, "green_mod")
        .hero__menu
          ul.menu
            li.menu__item
              a.menu__item-href(href="./my-works.html") Мои работы
            li.menu__item 
              a.menu__item-href(href="./about.html") Обо мне
            li.menu__item 
              a.menu__item-href(href="./blog.html") Блог
