extends ../template

include ../common/mixins

block content
  section.welcome__section
    .welcome__bg(id = 'parallax-section')
      .parallax__layer
        img.parallax__image(src="assets/images/im/Layer1.jpg" data-speed = '1')
      .parallax__layer
        img.parallax__image(src="assets/images/im/Layer2.jpg" data-speed = '2')
      .parallax__layer
        img.parallax__image(src="assets/images/im/Layer 4.png" data-speed = '3')
      //- .parallax__layer
      //-   img.parallax__image(src="assets/images/im/Layer4.png")
      .parallax__layer
        img.parallax__image(src="assets/images/im/Layer 5.png" data-speed = '4')
      .parallax__layer
        img.parallax__image(src="assets/images/im/Layer 6.png" data-speed = '5')
      .parallax__layer
        img.parallax__image(src="assets/images/im/Layer 7.png" data-speed = '6')
      .parallax__layer
        img.parallax__image(src="assets/images/im/Layer 8.png" data-speed = '7')
      .parallax__layer
        img.parallax__image(src="assets/images/im/Layer 9.png" data-speed = '8' z-index = "9")
      //- .parallax__layer
      //-   img.parallax__image(src="assets/images/im/Layer4.png")
    a.hero__auth(href="") Авторизация
    .hero__description
      .hero__presentation
        .hero__img
          img.avatar(src = "assets/images/im/avatar.jpg")
        .hero__descr
          .hero__name.welcome Александр Швалев
          .hero__text.welcome Личный сайт веб разработчика
        ul.socials.description__socials
          each item in ['vk', 'github', 'in']
            li.socials__item
              a(href="" class = 'href__socials')
                +icon(`${item}`, "green_mod")
        .hero__menu
          ul.menu
            li.menu__item
              a.menu__item-href(href="./my-works.html") Мои работы
            li.menu__item 
              a.menu__item-href(href="./about.html") Обо мне
            li.menu__item 
              a.menu__item-href(href="./blog.html") Блог
