.about {
  display: flex;
  flex-flow: column;
  position: relative;
}

.about__bg {
  background: url('../images/icons/bg-about.svg') no-repeat;
  background-size: cover;
  width: 100%;
  position: absolute;
  top: - pxRem(153px);
}

.about__content {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows:  1fr;
  top: 40%;

  @include tablets {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
  }

  @include phones {
    grid-template-rows: 0.5fr 1fr;
  }
}

.about__avatar {
  display: flex;
  align-items: center;
  justify-content: center;
}

.avatar__about {
  width: pxRem(340px);
  height: pxRem(340px);
}

.about__life {
  display: grid;
  grid-template-rows: pxRem(230px) 1fr;
  background-color: #EFEEE9;
}

.about__title{
  margin-top: pxRem(100px);
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  text-transform: uppercase;
  font-size: pxRem(63px);
  font-family: "BERNIER Regular";
  color: #373e42;
}

.animated__big {
  &::before {
    left: 10%;
  }

  &::after {
    right: 10%;
  }
}

.about__animated {

  &::before {
    left: 20%;
  }

  &::after {
    right: 20%;
  }
}

.about__description {
  @include tablets {
    margin-right: pxRem(148px);
    margin-left: pxRem(148px);
  }

  @include phones {
    margin-right: pxRem(4px);
    margin-left: pxRem(4px);
  }
}

.about__descr__title {
  color: #455a64;
  font-size: pxRem(35px);
  font-family: "BERNIER Regular";
  display: flex;
  justify-content: center;
  text-transform: uppercase;
  text-align: justify;
}

.about__text {
  padding: 0 pxRem(75px) 0 pxRem(75px);
  color: #455a64;
  font-family: "Roboto Regular";
  font-size: pxRem(16px);
  margin-bottom: pxRem(20px);

  @include tablets {
    padding: 0;
  }
}

.descr__end {
  margin-bottom: pxRem(45px);
}

.about__skills {
  background-color: #eeebdf;
  display: grid;
  grid-template-rows: pxRem(230px) 0.25fr 2fr;
  padding-left: pxRem(40px);
  padding-right: pxRem(10px);

  @include tablets {
    padding: 0;
  }
}

.skills__title {
  margin-top: pxRem(100px);
  color: #455a64;
  font-size: pxRem(35px);
  font-family: "BERNIER Regular";
  display: flex;
  justify-content: center;
  text-transform: uppercase;
  text-align: center;
}

.skills__list {
  margin-bottom: pxRem(70px);

  @include tablets {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.skills__descr {
  color: #455a64;
  font-family: "Roboto Regular";
  font-size: pxRem(16px);
  padding-right: pxRem(70px);

  @include tablets {
    margin-right: pxRem(148px);
    margin-left: pxRem(148px);
    padding: 0;
  }

  @include phones {
    margin-right: pxRem(4px);
    margin-left: pxRem(4px);
  }
}

.skills__item {
  font-size: pxRem(18px);
  font-family: "Roboto Medium";
  margin-top: pxRem(40px);
  color: #455a64;
  
  @include tablets {
    text-align: center;
  }
}

.skills__item__list {
  margin-bottom: pxRem(20px);
  display: flex;
  justify-content: space-between;

  @include phones {
    margin-top: pxRem(10px);
    margin-right: pxRem(28px);
    margin-left: pxRem(28px);
    flex-wrap: wrap;
    justify-content: center;
  }

}

.item__list-item {
  margin-right: pxRem(15px);
  margin-left: pxRem(15px);

  @include phones {
    margin-bottom: pxRem(30px);
  }
}

.front, .ws {
  width: pxRem(400px);

  @include tablets {
    width: auto;
  }
}

.back {
  width: pxRem(550px);

  @include tablets {
    width: auto;
  }
}

.about__map {
  height: 100vh;
  min-height: 980px;
  // background: url('../images/im/about-map.png');
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;

  @include phones {
    align-items: flex-start;
  }
}

#map {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.contacts {
  position: absolute;
  width: pxRem(380px);
  height: pxRem(290px);
  background-color: rgba(252, 252, 252, 0.8);
  border-radius: 1%;
  display: flex;
  flex-flow: column;
  justify-content: center;
  padding: pxRem(38px);

  @include phones {
    width: 100%;
    height: pxRem(270px);
  }
}

.icon_mod {
  fill: #00bea4;
  height: pxRem(25px);
  width: pxRem(25px);
  margin-right: pxRem(10px);
}

.contacts__title {
  text-transform: uppercase;
  font-family: "BERNIER Regular";
  font-size: pxRem(35px);
  align-self: center;
  color: #373e42;
}

.contacts__item {
  margin-bottom: pxRem(28px);
}

.contacts__href {
  display: flex;

}

.contacts__name {
  font-family: "Roboto Medium";
  font-size: pxRem(16px);
  color: #708288;
}

.about__header-footer {
  @include tablets {
    bottom: - pxRem(120px);
  }

  @include phones {
    bottom: - pxRem(170px);
  }
}

.about__header-footer-svg {

  @include tablets {
    fill: #efeee9;
  }
}
