.blog {
  position: relative;

  &__content-main {
    padding-top: pxRem(50px);
    // height: pxRem(1267px);
    position: relative;

    display: flex;

    justify-content: center;
    padding-bottom: pxRem(270px);
  }

  &__bg {
    background: url('../images/icons/bg-white.svg') no-repeat;
    background-size: cover;
    width: 100%;
    position: absolute;
    z-index: 2;
    top: - pxRem(150px);
  }

  &__menu {
    left: pxRem(125px);
    width: pxRem(280px);
    top: pxRem(80px);
    display: flex;
    flex-flow: column;
    align-items: flex-end;
    position: absolute;

    @include small-cont {
      left: pxRem(45px);
    }

    @include tablets {
      display: none;
    }

    &-item {
      margin-bottom: pxRem(35px);
      text-align: right;
      padding-right: pxRem(20px);


      &-href {
        width: 100%;
        font-family: "Roboto Regular";
        color: #455a64;
      }

      &:hover {
        border-right: pxRem(3px) solid #0ab19e;
        transition: border-right .2s;
        .blog__menu-item-href {
          color: #0ab19e;
        }
      }
    }
  }

  &__content {
    width: pxRem(1000px);
    padding-left: pxRem(80px);
    margin-right: pxRem(210px);

    @include small-cont {
      margin-right: pxRem(90px);
    }

    @include tablets {
      padding: 0;
      margin-right: pxRem(24px);
      margin-left: pxRem(24px);
      // height: pxRem(940px);
    }

    &-article {
      color: #455a64;
      font-family: "Roboto Regular";
    }
  }

  .article__name {
    font-family: "BERNIER Regular";
    font-size: pxRem(35px);
  }

  .article__date {
    color: #c5ebe4;
    margin-bottom: pxRem(30px);
  }
}

.blog__menu-item.active {
  border-right: pxRem(3px) solid #0ab19e;
  transition: border-right .2s;
  .blog__menu-item-href {
    color: #0ab19e;
  }
}

// Во время анимации на js просто менять позицию кнопки вместе с выездом менюхи, пока она не станет ширина менюхи + кнопки.

.phones__menu-button {
  background-color: #00bfa5;
  position: fixed;
  top: 50%;
  left: 0;
  z-index: 100;
  width: pxRem(8px);
  height: pxRem(40px);
  border-radius: 0 100% 100% 0 / 0 50% 50% 0;
  display: none;

  @include tablets {
    display: block;
  }
}

.blog__menu-phones {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: pxRem(284px);
  transform: translateX(-100%);
  background-color: #00bfa5;
  z-index: 100;
  display: flex;
  flex-flow: column;
  justify-content: center;

  &-item {
    margin-bottom: pxRem(35px);
    margin-right: pxRem(12px);
    margin-left: pxRem(12px);
    text-align: right;

    &-href {
      color: #b9e7de;
      font-size: pxRem(16px);
      font-family: "Roboto Regular";

      &:hover {
        color: white;
        font-family: "Roboto Medium";
      }

      &.active {
        color: white;
        font-family: "Roboto Medium";
      }
    }
  }
}