.blog__header {

  .socials__header {
    left: pxRem(310px);

    @include small-cont {
      left: pxRem(10px);
    }
  }

  .hero__hamburger {
    right: pxRem(310px);

    @include small-cont {
      right: pxRem(10px);
    }
  }

  .hero__name-menu {
    color: white;
    font-family: "BERNIER Regular";
    font-size: pxRem(63px);
  }

  .hero__text-menu {
    color: white;
    font-family: "Roboto Light";
    white-space: nowrap;
  }
}


.blog-arrow {
  display: none;

  @include tablets {
    display: block;
  }
}