* {
  -webkit-padding-start: 0px;
  font-size: pxRem(16px);
  box-sizing: border-box;
  overflow: hidden;
}

input, textarea, button {
  border: 0;
  padding: 0;
}

p {
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

body {
  position: relative;
}

.animated__title {
  position: relative;

  &::after, &::before {
    content: "";
    width: pxRem(25px);
    height: pxRem(5px);
    background-color: #cbccc8;
    display: inline-block;
    position: absolute;
    top: 50%;
  }

  &::after {
    right: - pxRem(50px);
  }

  &::before {
    left: - pxRem(50px);
  }

  &:hover {
    .animated__title {
      &::after, &::before {
        background-color: green;
      }
    }
  }
}
