.footer {
  background-color: rgba(85, 91, 94, 0.9);
  display: flex;
  flex-flow: column;
  position: absolute;
  width: 100%;
  bottom: 0;
}

.footer__top_content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: pxRem(55px);
  border-bottom: solid;
  border-width: thin;
  border-color: #aaadaf;

  @include tablets {
    flex-flow: column;
    justify-content: center;
    height: pxRem(120px);
  }
}

.footer__menu {
  display: flex;
  margin-left: pxRem(30px);

  @include tablets {
    margin-bottom: pxRem(20px);
  }
}

.footer__menu-href {
  margin-right: pxRem(45px);
  font-size: pxRem(16px);
  font-family: "Roboto Medium";
  color: white;

  @include phones {
    margin-right: pxRem(8px);
  }
}

.footer__socials {
  display: flex;
  width: pxRem(130px);
  justify-content: space-between;
  margin-right: pxRem(30px);
}

.footer_mod {
  fill: #aaadaf;
  width: pxRem(35px);
  height: pxRem(35px);
  &:hover {
    fill: white;
  }
}

.footer__bot_content {
  height: pxRem(55px);

  display: flex;
  justify-content: space-between;
  align-items: center;

  @include tablets {
    flex-flow: column;
    height: pxRem(120px);
    justify-content: center;
    text-align: center;
  }
}

.bottom__descr {
  color: #aaadaf;
  font-family: "Roboto Light";
}

.left__text {
  margin-left: pxRem(30px);

  @include tablets {
    margin-bottom: pxRem(20px);
    margin-left: 0;
  }

  .bottom__descr {
    width: pxRem(505px);

    @include tablets {
      width: auto;
      text-align: center;
    }
  }
}

.right__text {
  margin-right: pxRem(30px);
  @include tablets {
    margin: 0;
  }
}
