.welcome__section {
  background: url("../images/im/mountains.jpg") center center no-repeat;
  background-size: cover;
  background-color: #bccbc6;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  position: relative;
}

.green_mod {
  fill: #70d1c6;
  height: pxRem(20px);
  width: pxRem(30px);

  &:hover {
    fill: #00bfa5;
  }
}

.socials {
  margin-bottom: pxRem(40px);
}

.socials__item {
  margin-right: pxRem(25px);

  &:last-child {
    margin-right: 0;
  }
}

.hero__auth {
  padding: pxRem(15px) pxRem(30px);
  border-color: white;
  border-radius: 5%;
  border-style: solid;
  border-width: thin;
  color: white;
  font-family: 'Roboto Light';
  font-size: pxRem(16px);
  position: absolute;
  top: pxRem(20px);
  right: pxRem(100px);

  &:hover {
    background-color: white;
    color: #20c6af;
  }

  @include phones {
    right: 50%;
    transform: translate(50%, 0);
  }
}

.hero__description {
  position: relative;
  width: pxRem(380px);
  border-radius: 1%;
  height: pxRem(405px);
  transform-style: preserve-3d;
}

.hero__flipper {
  position: relative;
  // background-color: rgba(252, 252, 252, 0.8);
  // opacity: 0.8;
  width: 100%;
  height: 100%;
  border-radius: 1%;
  transform-style: preserve-3d;
}

.hero__presentation {
  position: absolute;
  width: pxRem(380px);
  height: 100%;
  background-color: rgba(252, 252, 252, 0.8);
  display: flex;
  flex-flow: column;
  align-items: center;
  padding-top: pxRem(20px);
  border-radius: 1%;
  overflow: hidden;
  backface-visibility: hidden;
}

.avatar {
  margin-top: pxRem(40px);
  opacity: 1;
  height: pxRem(140px);
  width: pxRem(140px);
  border-radius: 50%;
}

.hero__descr {
  display: flex;
  flex-flow: column;
  align-items: center;
  margin-bottom: pxRem(40px);
}

.hero__name {
  font-family: "Roboto Medium";
  width: 100%;
  text-align: center;
}

.hero__text {
  font-family: "Roboto Regular";
  width: 100%;
  text-align: center;
}

.hero__name.welcome {
  color: #455a64;
  font-size: pxRem(28px);
}

.hero__text.welcome {
  color: #7c888e;
}

.description__socials {
  display: flex;
}

.welcome__socials {
  color: blue;
}

.hero__menu {
  width: 100%;
  align-self: flex-end;
  height: auto;
}

.menu {
  display: flex;
  position: absolute;
  bottom: 0;
}

.menu__item {
  border-right: solid #82b7b9;
  display: flex;

  &:first-of-type {
    border-radius: 0 0 0 pxRem(5px);
  }

  &:last-of-type {
    border-radius: 0 0 pxRem(5px) 0;
  }

  &:last-child {
    border-right: none;
  }
}

.menu__item-href {
  width: 100%;
  background-color: #07ac98;
  text-align: center;
  color: white;
  font-family: "Roboto Regular";
  font-size: pxRem(16px);
  padding: pxRem(15px) pxRem(31px);
  border-radius: inherit;
  white-space: nowrap;

  &:hover {
    background-color: #078b84;
  }
}

.auth__welcome {
  display: none;
}

.welcome__bg {
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100%;

  .parallax__layer {
    position: absolute;
    left: -15%;
    height: 100%;
    width: 125%;
    bottom: 0;
    transform: translate3d(0, 0, 0);

    @include tablets {
      display: none;
    }

    .parallax__image {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      height: 100%;
      width: 100%;
    }
  }
}

.hero__authorization {
  position: absolute;
  z-index: 100;
  top: 0;
  left: 0;
  transform: rotateY(-180deg);
  backface-visibility: hidden;
  background-color: rgba(252, 252, 252, 0.8);
  width: 100%;
  height: 100%;
  border-radius: 1%;
}

.front__flipper, .back__flipper {
  width: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transition: -webkit-transform .6s;
  transition: transform .6s;
}

.back__flipper {
  z-index: 1;
  -webkit-transform: rotateY(-180deg);
  transform: rotateY(-180deg);
}

.hero__authorization-form {
  display: flex;
  flex-flow: column;
  width: 100%;
  height: 100%;
  align-items: center;
}

.login_mod {
  fill: #c4cbcd;
  width: pxRem(15px);
  height: pxRem(15px);
}
.auth {

  &__title {
    color: #455a64;
    font-family: 'BERNIER Regular';
    font-size: pxRem(35px);
  }

  &__input {
    margin-bottom: pxRem(20px);
    display: flex;

    &-img {
      width: pxRem(45px);
      height: pxRem(45px);
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: #f0efe9;
    }
    &-input {
      width: pxRem(270px);
      height: pxRem(45px);
      border-radius: 0 pxRem(5px) pxRem(5px) 0;
      font-family: 'Roboto Regular';
      padding-left: pxRem(10px);
    }
  }

  &__checks {
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    align-items: center;
    height: pxRem(100px);
    width: pxRem(200px);

    &-check {
      font-family: 'Roboto bold';
      font-family: pxRem(16px);
      color: #707e86;
    }
    .human__box {
      display: flex;

      .checkbox__elem {
        width: 0;
        height: 0;

        &-fake {
          height: pxRem(20px);
          width: pxRem(20px);
          border-style: solid;
          border-color: #8c979d;
          background-color: white;
          border-radius: pxRem(3px);
          border-width: thin;
        }
      }

      .checkbox__descr {
        margin-left: pxRem(12px);
        font-family: 'Roboto Regular';
        font-size: pxRem(16px);
        color: #707e86;
      }
    }

    &__second {
      display: flex;

      &-block {
        display: flex;
      }
    }
  }
}

.back__menu {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: pxRem(48px);

  display: flex;
}

.back__item {
  flex: 1;
  border-right: solid #82b7b9;
  height: 100%;
  width: 100%;

  &:first-of-type {
    border-radius: 0 0 0 pxRem(5px);
  }

  &:last-of-type {
    border-radius: 0 0 pxRem(5px) 0;
  }

  &:last-child {
    border-right: none;
  }
}

.back__buttons {
  display: flex;
  background-color: #07ac98;
  justify-content: center;
  align-items: center;
  color: white;
  font-family: "Roboto Regular";
  font-size: pxRem(16px);
  white-space: nowrap;
  width: 100%;
  height: 100%;
  border-radius: inherit;

  &:hover {
    background-color: #078b84;
  }
}

.auth__checks__second {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.auth__checks__second-check {
  width: 0;
  height: 0;

  &-fake {
    width: pxRem(20px);
    height: pxRem(20px);
    border-radius: 50%;
    background-color: white;
  }
}

.check__text {
  color: #707e86;
  font-family: 'Roboto Regular';
  font-size: pxRem(16px);
  margin-left: pxRem(7px);
}