.socials__header {
  display: flex;
  position: absolute;
  top: pxRem(30px);
  left: pxRem(30px);
}

.hero {
  background: url("../images/im/mountains.jpg") center center no-repeat;
  background-size: cover;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  position: relative;
  min-height: pxRem(980px);
}

.white_mod {
  fill: #c2d6d5;
  height: pxRem(30px);
  width: pxRem(30px);

  &:hover {
    fill: white;
  }
}

.white {
  fill: #c0cfd6;
  width: pxRem(25px);
  height: pxRem(18px);

  &:hover {
    fill: white;
  }
}

.hero__description-menu {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.hero__descr {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}

.hero__name-menu {
  color: white;
  width: 100%;
  text-align: center;
  font-family: "Roboto Medium";
  font-size: pxRem(35px);
}

.hero__text-menu {
  color: white;
  width: 100%;
  text-align: center;
  font-family: "Roboto Light";
  color: #93b8c1;
  font-size: pxRem(16px);
}

.arrow__down-href {
  position: absolute;
  bottom: 20%;
  z-index: 20;
}

.arrow__dow-img {
  fill: white;
}

.hero__hamburger {
  position: absolute;
  top: pxRem(26px);
  right: pxRem(26px);
}

.ham_mod {
  fill: white;
  width: pxRem(42px);
  height: pxRem(42px);
}

.header__footer {
  overflow: hidden;
  position: absolute;
  bottom: - pxRem(40px);
  width: 100%;
  z-index: 1;

  &-blog {
    overflow: hidden;
    position: absolute;
    width: 100%;
    z-index: 1;
    bottom: -2%;

    @include small-cont {
      bottom: - pxRem(70px);
    }

    @include tablets {
      bottom: - pxRem(160px);
    }

    @include phones {
      bottom: - pxRem(200px);
    }
    
  }

  &-svg {
    width: 100%;
  }
}


.header__menu-block {
  background-color: rgb(32, 198, 175);
  position: absolute;
  z-index: 1000;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100vh;
  display: none;
  opacity: 0;
  transition: opacity 5s;
}
.header__menu-block.active {
  display: flex;
  opacity: 0.8;
}

.header__main-menu {
  display: flex;
  flex-direction: column;
  margin-top: pxRem(95px);

  &-href {
    font-size: pxRem(63px);
    color: white;
    font-family: "BERNIER Regular";
  }
}

.header__back {
  position: absolute;
  right: pxRem(46px);
  top: pxRem(26px);
  width: pxRem(42px);
  height: pxRem(42px);
  
  @include tablets {
    right: pxRem(26px);
  }

  &::after {
    position: absolute;
    left: 15px;
    content: ' ';
    height: pxRem(42px);
    width: 5px;
    background-color: white;
    // transform-origin: top left;
    transform: rotate(-45deg);
    transition: transform .5s;
    border-radius: pxRem(4px);
  }

  &::before {
    position: absolute;
    left: 15px;
    content: ' ';
    height: pxRem(42px);
    width: 5px;
    background-color: white;
    // transform-origin: top left;
    transition: transform .5s;
    transform: rotate(45deg);
    border-radius: pxRem(4px);

  }

  &.blog__back {
    right: pxRem(330px);

    @include tablets {
      right: pxRem(26px);
    }
  }

}