.socials__header {
  display: flex;
  position: absolute;
  top: pxRem(30px);
  left: pxRem(30px);
}

.hero {
  background: url("../images/im/mountains.jpg") center center no-repeat;
  background-size: cover;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  position: relative;
  min-height: pxRem(750px);
}

.white_mod {
  fill: #c2d6d5;
  height: pxRem(30px);
  width: pxRem(30px);

  &:hover {
    fill: white;
  }
}

.white {
  fill: #c0cfd6;
  width: pxRem(25px);
  height: pxRem(18px);

  &:hover {
    fill: white;
  }
}

.hero__description-menu {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: pxRem(150px);
}

.hero__descr {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}

.hero__name-menu {
  color: white;
  width: 100%;
  text-align: center;
  font-family: "Roboto Medium";
  font-size: pxRem(35px);
}

.hero__text-menu {
  color: white;
  width: 100%;
  text-align: center;
  font-family: "Roboto Light";
  color: #93b8c1;
  font-size: pxRem(16px);
}

.arrow__down-href {
  position: absolute;
  bottom: pxRem(90px);
}

.arrow__dow-img {
  fill: white;
}

.hero__hamburger {
  position: absolute;
  top: pxRem(26px);
  right: pxRem(26px);
}

.ham_mod {
  fill: white;
  width: pxRem(42px);
  height: pxRem(42px);
}

.header__footer {
  overflow: hidden;
  position: absolute;
  bottom: -3%;

  &-svg {
    overflow: hidden;
  }
}
