.works {
  display: flex;
  flex-flow: column;
  position: relative;
  background-color: #faf8f0;

  &__bg {
    background: url('../images/icons/bg.svg') no-repeat;
    background-size: cover;
    width: 100%;
    position: absolute;
    z-index: 2;
    top: - pxRem(128px);
    fill: white;
  }

  &__title {
    font-family: "BERNIER Regular";
    color: #373e42;
    font-size: pxRem(63px);
    text-align: center;
    position: absolute;

    &-bg {
      display: flex;
      flex-flow: column;
      align-items: center;
      width: 100%;
      height: pxRem(155px);
      position: relative;
      top: -20%;
      margin-bottom: pxRem(40px);
    }
  }

  &__portfolio {
    background-color: #f0efe9;
    width: 100%;
    height: pxRem(750px);
    display: grid;
    grid-template-rows: 1fr 0.5fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;

    grid-template-areas:
    "href href main main"
    "href href left right";


    @include tablets {
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1.5fr 1.25fr 1fr;
      grid-template-areas:
      "main main"
      "href href"
      "left right";
    }
  }

  &__href {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    grid-area: href;

    &-title {
      font-family: "BERNIER Regular";
      text-align: center;
      width: pxRem(280px);
      color: #373e42;
      font-size: pxRem(35px);
      margin-bottom: pxRem(40px);

      @include tablets {
        margin-top: pxRem(40px);
      }
    }

    &-skills {
      width: pxRem(415px);
      border-top: solid;
      border-bottom: solid;
      border-color: #acd6ce;
      border-width: thin;
      font-family: "Roboto Medium";
      font-size: pxRem(16px);
      color: #20b5a1;
      text-align: center;
      text-transform: uppercase;
      padding: pxRem(20px);
      margin-bottom: pxRem(40px);

      @include phones {
        width: auto;
      }
    }

    &-button {
      width: pxRem(200px);
      display: flex;
      padding: pxRem(15px);
      color: white;
      background: #00bfa5;
      align-items: center;
      justify-content: space-around;
      border-radius: 5px;

      @include tablets {
        margin-bottom: pxRem(60px);
      }

      .icon-link {
        width: pxRem(25px);
        height: pxRem(25px);
      }

      &:hover {
        background: #268b8a;
      }

      &-text {
        font-family: "Roboto Medium";
      }
    }
  }

  &__item-main {
    display: flex;
    grid-area: main;
    background-color: #efebe0;
  }

  &__item-left {
    display: flex;
    grid-area: left;
    position: relative;
    background-color: #efebe0;
  }

  &__item-right {
    display: flex;
    grid-area: right;
    position: relative;
    background-color: #efebe0;
  }
}

.portf-arrow {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.arrow_mod {
  fill: white;
  width: pxRem(45px);
  height: pxRem(30px);
}

.grey_mod {
  fill: #f0eee7;
  width: pxRem(495px);
  height: pxRem(145px);

  @include phones {
    width: auto;
  }
}

.reviews__callback {
  background-color: #fbfcfd;

  @include phones {
    min-height: 1300px;
  }
}

.people__reviews {
  display: flex;
  flex-flow: column;
  align-items: center;
  background: url('../images/im/works-about.jpg') center center no-repeat;
  min-height: 980px;
}

.review-item {
  padding: pxRem(10px);
  font-family: "Roboto Regular";
  font-size: pxRem(16px);
  color: #68777e;
}

.review__decor {
  font-size: pxRem(36px);
  font-family: "FontAwesome Regular";
}

.reviewer {
  display: flex;
  align-items: center;
}

.reviewer__img {
  width: pxRem(80px);
  height: pxRem(80px);
  border-radius: 50%;
  margin-right: pxRem(20px);
}

.reviews__list {
  display: flex;
  justify-content: space-between;
  width: pxRem(810px);
  margin-bottom: pxRem(60px);

  @include phones {
    flex-direction: column;
    width: auto;
  }
}

.reviewer__descr {
  color: #20b5a1;
}

.reviewer__name {
  font-weight: bold;
}

.review__text {
  margin-top: pxRem(25px);
  margin-bottom: pxRem(20px);
}

.callback__form {
  width: pxRem(380px);
  height: pxRem(435px);
  margin-bottom: pxRem(70px);
  position: relative;

  .callback__bg {
    background-color: black;
    opacity: 0.33;
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
    border-radius: 5px;
    filter: blur(10px);
    -webkit-filter: blur(5px);
     -moz-filter: blur(5px);
       -o-filter: blur(5px);
      -ms-filter: blur(5px);
    //       filter: blur(5px);
  }

  .callback__wrapper {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 100;
  }

  .callback__title {
    font-family: "BERNIER Regular";
    color: #373e42;
    text-align: center;
    font-size: pxRem(35px);
  }

  .callback-form {
    height:pxRem(340px);
    width: 100%;
    display: flex;
    flex-flow: column;
    align-items: center;

    .user__name {
      font-family: "Roboto Regular";
      width: pxRem(300px);
      height: pxRem(10px);
      border-radius: 3px;
      margin-bottom: pxRem(20px);
      padding: pxRem(17px) pxRem(20px) pxRem(20px) pxRem(17px);
    }

    .user__email {
      font-family: "Roboto Regular";
      width: pxRem(300px);
      height: pxRem(10px);
      border-radius: 3px;
      margin-bottom: pxRem(20px);
      padding: pxRem(17px) pxRem(20px) pxRem(20px) pxRem(17px);
    }

    .user__msg {
      font-family: "Roboto Regular";
      width: pxRem(300px);
      height: pxRem(100px);
      border-radius: 3px;
      padding: pxRem(20px);
    }
  }

  .form__buttons {
    display: flex;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: pxRem(45px);

    .but {
      height: 100%;
      background: #268b8b;
      color: white;
      font-family: "Roboto Regular";
      font-size: pxRem(16px);

      &:hover {
        background: #26bbaa;
      }
    }

    .enter__msg {
      flex: 1;
      border-right: solid;
      border-color: #82b7b9;
      border-radius: 0 0 0 5px;

    }

    .delete__msg {
      flex: 1;
      border-radius: 0 0 5px 0;
    }
  }
}

.form__title {
  &::after {
    right: pxRem(15px);
  }

  &::before {
    left: pxRem(15px);
  }
}

.works__header-footer {
  @include tablets {
    bottom: - pxRem(120px);
  }

  @include phones {
    bottom: - pxRem(170px);
  }
}
